/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;  
}

.container{
  display: flex;
}

nav{
  width: 100%;
  align-items: center;
}

.menu-columna{
  flex-direction: row;
  
  width: 100%;
  align-items: center;
}
a {
  background: #DF6E6F;
  text-decoration: none;
  color: white;
  width: 16.3%;
  text-align: center;
  line-height: 80px;
  font-size: 1.5rem;
  border: 1px solid black;
}

  a:hover {
    color: #fff;
    opacity: 0.5;
   border:2px solid #fff;
   font-family: 'Vibur', cursive;
 }

 .pointer{ 
   cursor: pointer; 
 }

